* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-main-container img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.cover-page {
    position: absolute;
    background-color: #000;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 50%;
}

.nav-container {
    position: absolute;
    width: 100%;
    top: 0;
}

.hero-para {
    position: absolute;
    top: 40%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.para-one {
    font-size: 3.5em;
    color: #fff;
    text-transform: capitalize;
}

.para-two {
    font-size: 2em;
    color: #fff;
    margin: 1.5rem 0;
    text-transform: capitalize;
}

.hero-card-container {
    position: absolute;
    top: 80%;
}

.featured-vehicles-container {
    margin-top: 8rem;
}


.book-now {
    font-size: 1rem;
    padding: 0.8rem 1.4rem;
    color: #fff;
    border: none;
    border-radius: 5rem;
    background-color: #EBB02D;
    transition: 3ms;
    cursor: pointer;
}

.book-now:hover {
    padding: 0.9rem 1.5rem;
}